.form-control, .alert {
  border-radius: 0; }

textarea {
  resize: vertical !important; }

.card {
  background: #8850af;
  color: white;
  padding: 1.5em 2.2em;
  margin: 1em 0;
  position: relative; }
